*.sublime-workspace
bin
include
.DS_Store
*.pyc
*.log
database.db
node_modules
dist
.tmp
.webassets-cache
*.pem
app/static/dist
app/static/.tmp
.sass-cache
.bundle
.vagrant
.bower-cache
.bower-registry
jsons/*.json
