<pre>
{
  "id" : {{currentAnalysis.id | json }}
  "phrase" : {{currentAnalysis.phrase | json }}
  "frame" : {{currentAnalysis.frame | json }}
  "start_date" : {{currentAnalysis.start_date | json }}
  "end_date" : {{currentAnalysis.end_date | json }}
}
</pre>

<div id="chartContainer_frame" style="height: 300px; width: 100%;"></div>
<div id="chartContainer_topic" style="height: 300px; width: 100%;"> </div>

<div class="bloop">{{current}}</div>

<speech-browser speeches="speeches" current="current" loadSpeeches="loadSpeeches"></speech-browser>