
<!-- <h1>Found ({{customersCount}}) Customers</h1> -->

{{filters}}
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th ng-repeat="header in headers">
		{{header}}
<!--         <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by> -->
      </th>
    </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="speech in speeches">
	    <td><a href="{{speech.capitolwords_url}}">{{speech.speech_id}}</a></td>
	    <td>{{speech.title}}</td>
	    <td>{{speech.speaker_raw}}</td>
	  </tr>
  </tbody>
</table>

<!-- <pagination total-items="totalItems" page="filters.page"></pagination> -->
<!-- 
<div ng-show="customersCount == 0">
  <h3>No Customers Found</h3>
</div>
<div ng-show="totalPages > 1" class="align-center">
  <pagination num-pages="totalPages" current-page="filterCriteria.pageNumber" max-size="10" class="" boundary-links="true"
            on-select-page="selectPage(page)"></pagination>
</div> -->