<a class="btn btn-primary" href="/"><i class="fa fa-arrow-left"></i> Back</a>

<br/>
<br/>	

<pre>
{
  "id" : {{currentAnalysis.id | json }}
  "phrase" : {{currentAnalysis.phrase | json }}
  "frame" : {{currentAnalysis.frame | json }}
  "start_date" : {{currentAnalysis.start_date | json }}
  "end_date" : {{currentAnalysis.end_date | json }}
}
</pre>

<div id="chartContainer_frame" style="height: 300px; width: 100%;"></div>
<div id="chartContainer_topic" style="height: 300px; width: 100%;"> </div>

<speech-browser speeches="currentSpeeches" current="current"></speech-browser>

<button class="btn btn-default" disabled ng-click="prevTab()">Previous</button>
<button class="btn btn-default" disabled ng-click="nextTab()">Next</button>