<!--

  This is a view that enables one to create a new analysis.

  example.com/analyze

-->

<div class="row">
  <div class="col-sm-3">
      <h4>Filter by phrase</h4>
      <input type="text" class="phrase-input" ng-model="current.filters.phrase" placeholder="Phrase"/>
      <br>
      <br>

      <select chosen
        id="states"
        multiple
        ng-model="current.filters.states_a"
        ng-options="state.abbreviation as state.name for state in USStateList"
        data-placeholder="States A"
        no-results-text="'Could not find any States'"
        width="'100%'">
      <input type="text" class="" ng-model="current.filters.party_a" placeholder="Party A"/>
      <br>
      <br>

      <select chosen
        id="states"
        multiple
        ng-model="current.filters.states_b"
        ng-options="state.abbreviation as state.name for state in USStateList"
        data-placeholder="States B"
        no-results-text="'Could not find any States'"
        width="'100%'">
      <input type="text" class="" ng-model="current.filters.party_b" placeholder="Party B"/>
      <br>
      <br>

      <h4>Select Frame to Highlight</h4>
      <select chosen id="frames"
        ng-model="current.filters.frame"
        ng-options="frame.id as frame.name for frame in frames"
        data-placeholder="Select a Frame"
        no-results-text="'Could not find any frames'"
        width="'200px'">
        <option value=""></option>
      </select>
      <br>
      <br>

      <button class="btn btn-primary btn-xl" ng-click="analysisRequested()">Analyze</button>

  </div>

  <div class='col-sm-9'>
    <single-analysis current="current"></single-analysis>
  </div>

</div>

<br>
<br>