<!--
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentTabs}}%;"></div>
</div>         -->
<!-- <tab heading="{{tabs[0].heading}}" active="tabs[0].active" disabled="tabs[0].disabled" select="updatePercentTab(0)">
-->

<div class="row">
  <div class="col-sm-3">
      <h4>Filter by phrase</h4>
      <input type="text" class="phrase-input" ng-model="current.filters.phrase" />

      <h4>Select Frame to Highlight</h4>
      <select chosen id="frames" 
        ng-model="current.filters.frame"
        ng-options="frame.id as frame.name for frame in frames" 
        data-placeholder="Select a Frame"
        no-results-text="'Could not find any frames'"
        width="'200px'">
        <option value=""></option>
      </select>

      <h4>Current Filters</h4>
      <pre>{{current | json}}</pre>
      
  </div>

</div>

<br>
<br>

<button class="btn btn-primary btn-xl" ng-click="analysisRequested()">Analyze</button>

<br>
<br>

<single-analysis current="current"></single-analysis>