<!-- Dhrumil's Attempt at tab controls -->


<div class="row">
    <div class="col-sm-12">

        <div ng-controller="MainCtrl">
          <tabset type="navType">
            <tab heading="Browse Speeches">

                <div class="row">
                    <div class="col-sm-12">
                        <h4>Select a Topic</h4>
                        <input id="topics" ui-select2="topicsSelectOptions" ng-model="selectedTopic" data-placeholder="Select a Topic"></input>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7">

                        <div class="gridStyle" ng-grid="gridOptions"></div>
                        <p>{{status_bar}}</p>
                     
                    </div>
                    <div class="col-sm-5 current-speech" ng-show="currentSpeech">
                        <p>ID: {{currentSpeech.speech_id}}</p>
                        <p>Bills: {{currentSpeech.bills}}</p>
                        <p>BioGuide: {{currentSpeech.biouguide}}</p>
                        <p>CapitolWords URL: {{currentSpeech.capitolwords_url}}</p>
                        <p>Chamber: {{currentSpeech.chamber}}</p>
                        <p>Congress: {{currentSpeech.congress}}</p>
                        <p>Date: {{currentSpeech.date}}</p>
                        <p>Number: {{currentSpeech.number}}</p>
                        <p>Order: {{currentSpeech.order}}</p>
                        <p>Orign URL: {{currentSpeech.origin_url}}</p>
                        <p>Pages: {{currentSpeech.pages}}</p>
                        <p>Session: {{currentSpeech.session}}</p>
                        <p>Speaker First: {{currentSpeech.speaker_first}}</p>
                        <p>Speaker Last: {{currentSpeech.speaker_last}}</p>
                        <p>Speaker Party: {{currentSpeech.speaker_party}}</p>
                        <p>Speaker Raw: {{currentSpeech.speaker_raw}}</p>
                        <p>Speaker State: {{currentSpeech.speaker_state}}</p>
                        <p>Title: {{currentSpeech.title}}</p>
                        <p>Volume: {{currentSpeech.volume}}</p>
                        Speaking: 
                        <p ng-bind-html="currentSpeech.speaking | unsafe"></p>



                    </div>
                </div>

                <div class="row" ng-show="selectedTopic">
                    <div class="col-sm-12">

                        <h4>Filter By State</h4>
                        <select class="filter" multiple id="states" ui-select2 ng-model="selectedStates" data-placeholder="Filter By State">
                            <option ng-repeat="state in USStateList" value="{{state.abbreviation}}">{{state.name}}</option>
                        </select>

                        <br>
                        <p>
                            <button class="btn btn-default" ng-click="selectAllStates()">Select All States</button>
                        </p>
                        
                        <h4>Filter By Date</h4>
                        <input type="text" ui-date="dateOptions" ng-model="startDateFilter" placeholder="Start"> to <input type="text" ui-date="dateOptions" ng-model="endDateFilter" placeholder="End">

                        <h4>Current Filter</h4>
                        {{currentFilter}}

                    </div>
                </div>

            </tab>

            <tab heading="Browse Frame">            
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Select a Frame</h4>
                        <input id="frames" ui-select2="frameSelectOptions" ng-model="selectedFrame" data-placeholder="Select a Frame"></input>
                        <ul>
                            <p>{{selectedFrame.data}}</p>
                        </ul>
                        <br>
                    </div>
                </div>
            </tab>              

          </tabset>

          <hr />
          
        </div>

    </div>
</div>