<div class="row">
	<div class="col-md-3">
		<!--big normal buttons-->
		<div class="action-nav-normal">

		  <div class="row action-nav-row">
		    <div class="col-sm-6 action-nav-button">
		      <a href="#" title="New Project">
		        <i class="fa fa-file"></i>
		        <span>New Project</span>
		      </a>
		      <span class="triangle-button red"><i class="fa fa-plus"></i></span>
		    </div>

		    <div class="col-sm-6 action-nav-button">
		      <a href="#" title="Messages">
		        <i class="fa fa-comments"></i>
		        <span>Messages</span>
		      </a>
		      <span class="label label-black">14</span>
		    </div>
		  </div>
<!-- 
		  <div class="row action-nav-row">
		    <div class="col-sm-6 action-nav-button">
		      <a href="#" title="Files">
		        <i class="fa fa-folder-open"></i>
		        <span>Files</span>
		      </a>
		    </div>

		    <div class="col-sm-6 action-nav-button">
		      <a href="#" title="Users">
		        <i class="fa fa-user"></i>
		        <span>Users</span>
		      </a>
		      <span class="triangle-button green"><span class="inner">+3</span></span>
		    </div>
		  </div>

		  <div class="row action-nav-row">
		    <div class="col-sm-6 action-nav-button">
		      <a href="#" title="Friends">
		        <i class="fa fa-facebook"></i>
		        <span>Friends</span>
		      </a>
		    </div>

		    <div class="col-sm-6 action-nav-button">
		      <a href="#" title="Followers">
		        <i class="fa fa-twitter"></i>
		        <span>Followers</span>
		      </a>
		      <span class="triangle-button blue"><span class="inner">+8</span></span>
		    </div>
		  </div>
 -->
		</div>
		<!--end big normal buttons-->
	</div>


	<div class="col-md-9">
		<div class="box">
			<div class="box-header">
				<span class="title">Poltical Framing News</span>
				<ul class="box-toolbar">
					<li><span class="label label-blue">178</span></li>
				</ul>
			</div>
			<div class="box-content scrollable" style="height: 215px; overflow-y: auto">
				<!-- find me in partials/news_with_icons -->

				<div class="box-section news with-icons">
					<div class="avatar blue"><i class="icon-ok icon-2x"></i></div>
					<div class="news-time">
						<span>06</span> jan
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">New Features Coming!</a></div>
						<div class="news-text">
							Tons of awesmome new features are coing your way!
						</div>
					</div>
				</div>

				<div class="box-section news with-icons">
					<div class="avatar green"><i class="icon-lightbulb icon-2x"></i></div>
					<div class="news-time">
						<span>11</span> feb
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Survey Request</a></div>
						<div class="news-text">
							What features do you want most? Message us now!
						</div>
					</div>
				</div>

				<div class="box-section news with-icons">
					<div class="avatar purple"><i class="icon-mobile-phone icon-2x"></i></div>
					<div class="news-time">
						<span>04</span> mar
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">How are we doing so far?</a></div>
						<div class="news-text">
							Questions? Comments? Concerns? Compliments? We'd love to hear back!
						</div>
					</div>
				</div>


				<div class="box-section news with-icons">
					<div class="avatar cyan"><i class="icon-ok icon-2x"></i></div>
					<div class="news-time">
						<span>22</span> dec
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Poltical Framing moving to Server Near You</a></div>
						<div class="news-text">
							Faster load times = more productivity! We're now coming to a server near you.
						</div>
					</div>
				</div>


				<!-- find me in partials/news_with_icons -->

				<div class="box-section news with-icons">
					<div class="avatar blue"><i class="icon-ok icon-2x"></i></div>
					<div class="news-time">
						<span>06</span> jan
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Political Framing Now Live</a></div>
						<div class="news-text">
							Its our grand opening! Be sure to share us on Facebook!
						</div>
					</div>
				</div>

				<div class="box-section news with-icons">
					<div class="avatar green"><i class="icon-lightbulb icon-2x"></i></div>
					<div class="news-time">
						<span>11</span> feb
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Public Beta Launched</a></div>
						<div class="news-text">
							Get excited! We sure are.
						</div>
					</div>
				</div>

				<div class="box-section news with-icons">
					<div class="avatar purple"><i class="icon-mobile-phone icon-2x"></i></div>
					<div class="news-time">
						<span>04</span> mar
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Political Framing in Private Beta</a></div>
						<div class="news-text">
							Sass makes CSS fun again. Sass is an extension of CSS3, adding nested rules ...
						</div>
					</div>
				</div>


				<div class="box-section news with-icons">
					<div class="avatar cyan"><i class="icon-ok icon-2x"></i></div>
					<div class="news-time">
						<span>22</span> dec
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Twitter Bootstrap v3.0 is coming!</a></div>
						<div class="news-text">
							With 2.2.2 out the door, our attention has shifted almost entirely to the next major update to the project ...
						</div>
					</div>
				</div>


				<!-- find me in partials/news_with_icons -->

				<div class="box-section news with-icons">
					<div class="avatar blue"><i class="icon-ok icon-2x"></i></div>
					<div class="news-time">
						<span>06</span> jan
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Twitter Bootstrap v3.0 is coming!</a></div>
						<div class="news-text">
							With 2.2.2 out the door, our attention has shifted almost entirely to the next major update to the project ...
						</div>
					</div>
				</div>

				<div class="box-section news with-icons">
					<div class="avatar green"><i class="icon-lightbulb icon-2x"></i></div>
					<div class="news-time">
						<span>11</span> feb
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Ruby on Rails 4.0</a></div>
						<div class="news-text">
							Rails 4.0 is still unfinished, but it is shaping up to become a great release ...
						</div>
					</div>
				</div>

				<div class="box-section news with-icons">
					<div class="avatar purple"><i class="icon-mobile-phone icon-2x"></i></div>
					<div class="news-time">
						<span>04</span> mar
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">All about SCSS</a></div>
						<div class="news-text">
							Sass makes CSS fun again. Sass is an extension of CSS3, adding nested rules ...
						</div>
					</div>
				</div>


				<div class="box-section news with-icons">
					<div class="avatar cyan"><i class="icon-ok icon-2x"></i></div>
					<div class="news-time">
						<span>22</span> dec
					</div>
					<div class="news-content">
						<div class="news-title"><a href="#">Twitter Bootstrap v3.0 is coming!</a></div>
						<div class="news-text">
							With 2.2.2 out the door, our attention has shifted almost entirely to the next major update to the project ...
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

</div>

<table class="table table-striped table-responsive table-hover table-condensed speech-browser-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Phrase</th>
      <th>Frame</th>
    </tr>
  </thead>
  <tbody>
	<tr ng-repeat="analysis in analyses" ng-click="showAnalysis(analysis)">
		<td>{{analysis.id}}</td>
		<td>{{analysis.start_date}}</td>
		<td>{{analysis.end_date}}</td>
		<td>{{analysis.phrase}}</td>
		<td>{{analysis.frame}}</td>
	</tr>
  </tbody>
</table>


<div class="row">
  <div class="col-md-12">
    
<ul class="chat-box timeline">

  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar1.jpg"></div>
    <div class="info">
      <span class="name">
        <span class="label label-green">COMMENT</span> <strong class="indent">Alex</strong> posted a comment on this task: <strong>Core Admin</strong>
      </span>
      <span class="time"><i class="icon-time"></i> 3 minutes ago</span>
    </div>
    <div class="content">
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </blockquote>
      <div>
        <a href="#"><i class="icon-paper-clip"></i> <b>project_news.docx</b></a>
      </div>
    </div>
  </li>

  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar2.jpg"></div>
    <div class="info">
      <span class="name">
        <span class="label label-blue">TASK</span> <strong class="indent">Michael</strong> completed this task: <strong class="strikethrough">Core Admin</strong>
      </span>
      <span class="time"><i class="icon-time"></i> 6 minutes ago</span>
    </div>
  </li>

  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar3.jpg"></div>
    <div class="info">
      <span class="name">
        <span class="label label-purple">FILE</span> <strong class="indent">Alex</strong> added 3 new files in project: <strong>Core Admin</strong>
      </span>
      <span class="time"><i class="icon-time"></i> 12 minutes ago</span>
    </div>
    <div class="content">
      <ul class="thumbnails padded">
        
            <li class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/240x100" alt="">
              </a>
            </li>
        
            <li class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/240x100" alt="">
              </a>
            </li>
        
            <li class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/240x100" alt="">
              </a>
            </li>
        
      </ul>
    </div>
  </li>
</ul>

<div class="box closable-chat-box">
  <div class="box-content padded">

    <div class="fields">
      <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar2.jpg"></div>
      <ul>
        <li><b>Add a comment for project <a href="#">Core Admin</a></b></li>
        <li class="note">Click on the textarea below to expand it!</li>
      </ul>
    </div>

    <form class="fill-up" action="/">

      <div class="chat-message-box">
        <textarea name="ttt" id="ttt" rows="5" placeholder="add a comment (click to expand!)"></textarea>
      </div>

      <div class="clearfix actions">
        <span class="note">An optional note can go here</span>
        <div class="pull-right faded-toolbar">
          <a href="#" class="tip" title="" data-original-title="Attach files"><i class="icon-paper-clip"></i></a>
          <a href="#" class="btn btn-blue btn-xs">Send</a>
        </div>
      </div>
    </form>

  </div>
</div>
  </div>
</div>