@import "mixin_helpers";



@mixin news-icon($color) {
  @include std-bg(lighten($color, 10), $color);
  border: 1px solid darken($color, 8);
}

.news {
  min-height: 85px;
  .avatar {
    float: left;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;

    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;

    @each $pair in $news-colors {
      &.#{nth($pair, 1)} {
        @include news-icon(nth($pair, 2));
      }
    }

    @include border-radius(50%);

    i {
      color: white;
      line-height: 36px;
    }


  }

  &.with-icons .news-content {
    margin-left: 55px;
  }
}

.news-content {
  margin-left: 50px;
  margin-right: 50px;
}

.news-title {
  color: #636364;
  font-weight: 600;
  @include text-shadow-bottom(#fff);
  font-size: 16px;
}

.news-time {
  float: right;
  color: #bbb;
  @include text-shadow-bottom(#fff);
  font-size: 14px;
  text-align: center;

  span {
    display: block;
    font-size: 24px;
    font-weight: 600;
  }
}