@import "mixin_helpers";

@media (max-width: $grid-float-breakpoint-max) {

  .sidebar-background {
    display: none;
  }

  .primary-sidebar {
    @include clearfix;
    position: static;
    width: auto;
    float: none;
    background: #11161A;
  }

  .main-content {
    margin: 0;
  }

  .user-avatar {
    > .dropdown-toggle {
      display: none;
    }
  }

  .dropdown-menu li.with-image span, .dropdown-menu li a {
    @include text-shadow(none);
  }

  .label, .badge, .navbar-inverse .nav > li > a, .navbar-inverse .nav > li.active > a {
    @include box-shadow(none);
  }

  .navbar-collapse .nav > li > a, .navbar-collapse .dropdown-menu a {
    font-weight: 600;
  }

  .primary-sidebar .nav {
    margin: 0;
  }

  .breadcrumb-line {
    height: auto;

    .breadcrumbs {
      @include clearfix;
      float: none;
    }

    .nav.pull-right {
      float: none;
      margin-right: 0px;
      border-right: none;

      > li:first-child > a {
        border-left: none;
      }

      border-top: 1px solid #ccc;
    }
  }

  .user-avatar .dropdown-menu {
    display: block;
  }

  .navbar-collapse .dropdown-menu {
    background: transparent;

    li a {
      background: rgba(0,0,0,.2);
      margin-bottom: 3px;
    }

    li + li a {
      margin-bottom: 3px;
    }
  }

  .action-nav-normal {

    .action-nav-button {
      display: block;
    }

    &.action-nav-line .action-nav-row {
      margin-right: 0;
    }

    .action-nav-row {
      margin-right: 0px;
    }

    &.rounded .action-nav-button {
      display: inline-block;
    }
  }

  .navbar-form .form-group, .navbar-form .search-query.animated, .navbar-form .search-query.animated:focus, .navbar-form .search-query.animated .focused {
    width: 100%;
  }

  .dropdown-menu .divider {
    display: none;
  }

  .navbar-inverse .nav {
    > li.cdrop, > li.cdrop.active {
      > a {
        margin-right: 0;
        background: transparent;
        border: none;
        box-shadow: none;
      }
    }
  }

  .nav-tabs-right, .nav-tabs-left {
    li > a > span, .title {
      display: none;
    }
  }

  //the new dropdown style menu sidebar, responsive behavior
  .dark-nav.to-right .dropdown-menu {
    margin: 0;
    position: relative;
    left: 0;
    background: #11161A;
    @include border-radius(0);
    height: 100%;

    &:before {
      //disable arrow when in dropdown mode
      content: none;
    }

    li a {
      margin-bottom: 0;
      @include border-radius(0);
    }

    li + li a {
      margin-bottom: 0;
    }

    a:hover {
      @include std-bg(rgba(90, 90, 90, 0.2), rgba(50, 50, 50, 0.1));
      color: white;
    }
  }

}