.uploader, .selector {
  * {
    margin: 0;
    padding: 0;
  }

  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.selector select:focus {
  outline: 0;
}

.uploader {

  width: 190px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  cursor: default;



  span {
    &.action {
      width: 85px;
      text-align: center;
      text-shadow: #fff 0px 1px 0px;
      background-color: #fff;
      font-size: 11px;
      font-weight: 600;
      float: left;
      display: inline;
      padding: 2px 0px;
      overflow: hidden;
      cursor: pointer;
    }
    &.filename {
      color: #777;
      width: 82px;
      border-right: solid 1px #bbb;
      font-size: 11px;
      padding: 0px 10px;
      float: left;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;
    }
  }

  input {
    width: 190px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 25px;
    border: none;
    cursor: default;

    &:focus {
      outline: 0;
    }
  }

  &.disabled span {
    &.action {
      color: #aaa;
    }
    &.filename {
      border-color: #ddd;
      color: #aaa;
    }
  }

}
